html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

nav {
    height: 10%;
    background-color: #f0f0f0;
}

section {
    height: 90%;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-width: 50%; 
}