html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #F8F6F5;
}

.bg-light {
    background-color: #FABE79!important;
}
.nav {
    height: 10%;
    background-color: #FABE79;
}

.section {
    height: 90%;
    background-color: black;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-width: 50%; 
}