<!doctype html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <title>{% block title %}{% endblock %}</title>

</head>

<body>
   

<!-- Image and text -->
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="{{ url_for('main.index')}}">
        <img src="{{ url_for('static', filename='logo.jpeg') }}" width="40" height="40"
        class="d-inline-block align-center" alt="">
      BreakingBridges
    </a>
  </nav>

    <section class="content">

        <div class="MessageContainer">

            <div class="row align-items-center">
                <div class="col">

                </div>
                <div class="col align-self-center">
                    {% for message in get_flashed_messages() %}
                    <div class="alert alert-danger" role="alert">
                     {{ message }}
                    </div>
                    {% endfor %}
          

                </div>
                <div class="col">

                </div>
            </div>
        </div>
        






        <header>
            {% block header %}{% endblock %}
        </header>




        {% block content %}{% endblock %}
    </section>


</body>