{% extends 'base.html' %}

{% block header %}

{% endblock %}
{% block content %}


<div class="container">

    <div class="card-body">

        <form method="post">
            <div class="form-group">
                <div class="form-group">
                    <label for="departmentSelect">Auswahl Abteilung:</label>
                    <select class="form-control" id="departmentSelect" name="departmentSelect">
                      <option value="">Apteilung auswählen</option>
                      <option value="IT">IT</option>
                      <option value="HR">HR</option>
                      <option value="Abteilung Y">Abteilung Y</option>
                    </select>
                  </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    </div>





</div>



{% endblock %}