{% extends 'base.html' %}

{% block header %}

{% endblock %}
{% block content %}


<div class="container">

    <div class="card-body">

        <form method="post">
            <div class="form-group">
                <div class="form-group">

                    <label for="dateSelect">Datum auswählen:</label>
                    <input type="date" class="form-control" id="dateSelect" name="dateSelect"
                        placeholder="Datum auswählen" min="2024-03-16" max="2024-03-16">
                    
                    
                    <label for="nameInput">Vorname eingeben:</label>
                    <input type="text" class="form-control" id="nameInput" name="nameInput"
                        placeholder="Vorname eingeben">
                    
                    <label for="surnameInput">Nachname eingeben:</label>
                    <input type="text" class="form-control" id="surnameInput" name="surnameInput"
                        placeholder="Nachname eingeben">

                    <label for="hobbyInput">Hobby eingeben:</label>
                    <input type="text" class="form-control" id="hobbyInput" name="hobbyInput"
                        placeholder="Hobby eingeben">


                    
                    <label for="departmentSelect">Auswahl Abteilung:</label>
                    <select class="form-control" id="departmentSelect" name="departmentSelect">
                      <option value="">Abteilung auswählen</option>
                      <option value="IT">IT</option>
                      <option value="HR">HR</option>
                      <option value="Marketing">Marketing</option>
                      <option value="Finanzen">Finanzen</option>
                    </select>
                  </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    </div>





</div>



{% endblock %}