{% extends 'base.html' %}

{% block header %}

{% endblock %}
{% block content %}


<div class="container align-self-center">


    <div class="card-body">

        <h1>SecretLunch Anmeldung</h1>

        <form method="post">
            <div class="form-group">
                <label for="emailInput">Bitte Email eingeben:</label>
                <input type="email" class="form-control" id="emailInput" aria-describedby="emailHelp" name="emailInput"
                    placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">Bitte verwenden Sie die Adresse ihres
                    Unternehmens</small>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    </div>


</div>



{% endblock %}