{% extends 'base.html' %}

{% block header %}


{% endblock %}

{% block content %}

<div class="container align-self-center">



  <div class="card-body">

    <h1>Log In</h1>

    <form method="post">
      <div class="form-group">
        <label for="username">Username</label>
        <input class="form-control" id="username" name="username" placeholder="Username" required>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Password" name="password" required>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>

  </div>


</div>



{% endblock %}